{% extends 'base.html' %}
{% block content %}
{% for product in products.all %}

<div clas="row">
    <div class="col-2">
        <img src="{{ product.image.url }}" class="rounded img-fluid" />
    </div>
    <div class="col-6">
        <p>
            <a href="{{ product.url }}"><h4>{{product.title}}</h4></a>
        </p>
        <p>{{product.summary}}</p>
    </div>
    <div class="col-4">
        <a href="javascript:{document.getElementById('upvote {{ product.id }}').submit()}"
            ><button class="btn btn-primary btn-block">
                <span class="oi oi-caret-top"></span>
                Upvote ({{ product.votes_total }})
            </button></a
        >
    </div>
</div>

<form id="upvote {{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endfor %} 
{% endblock %}