{% extends 'base.html' %} {% block content %} {% for product in products.all %}

<div class="card flex-md-row">
    <div class="row">
        <div class="col-2">
            <img
                src="{{ product.image.url }}"
                class="rounded img-fluid"
                height="160"
                width="160"
            />
        </div>
        <div class="col-6">
            <p>
                <a href="products/{{ product.id }}"
                    ><h4>{{product.title}}</h4></a
                >
            </p>
            <p>{{product.summary}}</p>
        </div>
        <div class="col-4">
            <br />
            <a href="products/{{ product.id }}"
                ><button class="btn btn-primary btn-block btn-lg">
                    <span class="oi oi-caret-top"></span>
                    Upvote ({{ product.votes_total }})
                </button></a
            >
        </div>
    </div>
</div>
<br />

{% endfor %} {% endblock %}
